<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthorizeFilter</filter-name>
        <filter-class>Filters.AuthorizeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizeFilter</filter-name>
        <url-pattern>/UserPages/menu.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Popolni</servlet-name>
        <servlet-class>Popolni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Admin.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuItem</servlet-name>
        <servlet-class>Admin.AddMenuItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenuItem</servlet-name>
        <servlet-class>Admin.DeleteMenuItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>Admin.AddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRestorant</servlet-name>
        <servlet-class>Admin.RemoveRestorant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Admin.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Admin.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preferences</servlet-name>
        <servlet-class>Preferences.Preferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipantiDodadi</servlet-name>
        <servlet-class>Preferences.ParticipantiDodadi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipantiOdzemi</servlet-name>
        <servlet-class>Preferences.ParticipantiOdzemi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Naracka</servlet-name>
        <servlet-class>Servlets.Naracka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearPreference</servlet-name>
        <servlet-class>Preferences.ClearPreference</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pokana</servlet-name>
        <servlet-class>MainPage.Pokana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmeni</servlet-name>
        <servlet-class>MainPage.Izmeni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izlezi</servlet-name>
        <servlet-class>MainPage.Izlezi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Join</servlet-name>
        <servlet-class>MainPage.Join</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Popolni</servlet-name>
        <url-pattern>/Popolni.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AdminPages/AddUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuItem</servlet-name>
        <url-pattern>/AdminPages/AddMenuItem.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenuItem</servlet-name>
        <url-pattern>/AdminPages/DeleteMenuItem.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AdminPages/AddRestaurant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRestorant</servlet-name>
        <url-pattern>/AdminPages/RemoveRestorant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/AdminPages/DeleteUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/AdminPages/UpdateUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preferences</servlet-name>
        <url-pattern>/UserPages/Preferences.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantiDodadi</servlet-name>
        <url-pattern>/UserPages/ParticipantiDodadi.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantiOdzemi</servlet-name>
        <url-pattern>/UserPages/ParticipantiOdzemi.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Naracka</servlet-name>
        <url-pattern>/UserPages/Naracka.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearPreference</servlet-name>
        <url-pattern>/UserPages/ClearPreference.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pokana</servlet-name>
        <url-pattern>/UserPages/Pokana.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmeni</servlet-name>
        <url-pattern>/UserPages/Izmeni.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izlezi</servlet-name>
        <url-pattern>/UserPages/Izlezi.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Join</servlet-name>
        <url-pattern>/UserPages/Join.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Najava.jsp</welcome-file>
    </welcome-file-list>
</web-app>
