body{
    margin: 1% 15% 5% 15%;
    background-color: #D6D6D6;
    
}

div{
    background-color: #fff;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 60%;
}

.najavnaTabela{
   elevation: 30deg; 
}
th
{
    text-align: center;
    font-size: large;
}
a{
    text-align: center;
}
.izbornaTabela{
}
.nazad{
}