#header
{
    width: 80%;
    border-style: outset;
    border-color: whitesmoke;
    background-repeat: repeat;
    background-image: url("/Lunch_Planner/grey_bar.jpg");
}
#whiteLink
{
    color: whitesmoke;
    text-decoration: none;
}