body{
    margin: 1% 20% 5% 20%;
    background-color: #D6D6D6;
    
}

div{
    background-color: #fff;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 60%;
}

.najavnaTabela{
   elevation: 30deg; 
}