.header
{
    width: 100%;
    height: 120px;
    border-style: ridge;
    border-color: whitesmoke;
    background-repeat: repeat;
    background-image: url("/Lunch_Planner/grey_bar.jpg");
}
.whiteLink
{
    color: whitesmoke;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
